<strong>Autor:</strong>
<p class="text-justify"><%= comentario.commenter %></p>
<strong>Comentario:</strong>
<p class="text-justify"><%= comentario.body %></p>
<p>
  <%= link_to 'Borrar comentario', [comentario.article, comentario],
               method: :delete,
               data: { confirm: '¿Borrar comentario?' } %>
</p>